<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Young and fresh, eager to learn new knowledge and meet awesome people. Have an ambition to open a code school and teach every one how to code. I believe the future is the world of "codes"
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Dare to explore and take challenges. Student for life is, always learn by doing mistakes. Sometimes have a universal human problem, "lazy". I am quite good in communication and teaching the stuff that I know. Group oriented mindset and love to share the happines with co-workers and family.
            </p>
        </div>
    </div>
</section>