<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Young and fresh, eager to learn new knowledge and meet awesome people. Have an ambition to open a code school and teach how to code. Dare to explore and take challenges. Student for life, always learn when do a mistakes.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Love to work in a team, be successful and learn together.Believe me, I will be a great contributor to the team or at least a great lesson to the team.    
                My latest app <strong>Report Racism MY</strong> built using React Native and <strong>Cendral Currency Converter & Paradise Mystery Shopper</strong> built using Ionic. 
            </p>
        </div>
    </div>
</section>
