<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Young and fresh, eager to learn new knowledge and meet awesome people. Have an ambition to open a code school and teach every one how to code. I belive the future is the world of "codes" 
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Dare to explore and take challanges. Student for lifes, always learn by doing mistakes. Sometimes have a universal human problem, "lazy". E
            </p>
        </div>
    </div>
</section>