<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-4">
            <div class="portfolio-item">
                <a href="#">
                    <img class="img-portfolio img-responsive" src="https://unsplash.it/200">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portfolio-item">
                <a href="#">
                    <img class="img-portfolio img-responsive" src="https://unsplash.it/200">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portfolio-item">
                <a href="#">
                    <img class="img-portfolio img-responsive" src="https://unsplash.it/200">
                </a>
            </div>
        </div>
    </div>
</section>