<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-4">
            <div class="portfolio-item">    
                <img class="img-portfolio img-responsive" src="./web-dist/images/komas-logo.png">
                <br><br>
                <a href="https://play.google.com/store/apps/details?id=io.github.alpacalab.komas">
                    <img class="img-responsive logo-portfolio" src="./web-dist/images/googleStore-logo.png" width="36%" height="auto">
                </a>
                <a href="https://itunes.apple.com/my/app/report-racism-my/id1170771789?mt=8">
                    <img class="img-responsive logo-portfolio" src="./web-dist/images/appStore-logo.png" width="36%" height="auto">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="./web-dist/images/cendral-logo.png">
                <br><br>
                <a href="https://play.google.com/store/apps/details?id=com.alpacalab.cendralcurrencyconverter">
                    <img class="img-responsive logo-portfolio" src="./web-dist/images/googleStore-logo.png" width="36%" height="auto">
                </a>
                <a href="https://itunes.apple.com/us/app/cendral-currency-exchange/id1136705913?mt=8">
                    <img class="img-responsive logo-portfolio" src="./web-dist/images/appStore-logo.png" width="36%" height="auto">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="./web-dist/images/pms-logo.png">
                <br><br>
                <a href="https://play.google.com/store/apps/details?id=com.alpacalab.paradisemysteryshopper">
                    <img class="img-responsive logo-portfolio" src="./web-dist/images/googleStore-logo.png" width="36%" height="auto">
                </a>
                <a href="https://itunes.apple.com/us/app/paradise-mystery-shopper/id1019147657?mt=8">
                    <img class="img-responsive logo-portfolio" src="./web-dist/images/appStore-logo.png" width="36%" height="auto">
                </a>
            </div>
        </div>
    </div>
</section>